.component.magnify       
  position relative
  display inline-block

  img.target
    cursor crosshair

  .magnifier
    display none
    width 100px
    height 100px
    background-color yellow
    opacity 0.4
    position absolute
    top 0
    left 0
    cursor crosshair

    &.active
      display block

.magnify
  .zoom-view
    display none
    overflow hidden
    position absolute
    top 0
    left 0
    border 1px solid gray

    &.active
      display block

    img.big
      position absolute
      top 0
      left 0
